.root{
    -fx-background-color:#C6D8FF;
}

.button{
    -fx-background-color: linear-gradient(to bottom, #76b852, #8dc26f);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #4caf50;
    -fx-border-width: 2;
}

.button:hover{
    -fx-background-color: linear-gradient(to bottom, #8dc26f, #76b852);
    -fx-border-color: #388e3c;
}

.button:pressed{
    -fx-background-color: linear-gradient(to bottom, #66bb6a, #4caf50);
    -fx-border-color: #2e7d32;
}